<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form action="/check">
            <label for="pre">당신의 전생은?</label>
            <input type="text" id="pre" name="name" />
            <label for="btn">이름을 입력하고 이 버튼을 눌러보세요!</label>
            <input type="submit" id="btn" value="전생확인" />
        </form>
    </body>
</html>
