{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'articles:index' %}">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            {% if request.user.is_authenticated %}
              <a class="nav-link" href="{% url 'articles:create' %}">글쓰기</a>
              <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
              {% comment %} <a class="nav-link" href="{% url 'articles:create' %}">글작성</a> {% endcomment %}
              <a class="nav-link" href="{% url 'accounts:detail' request.user.pk %}">
                <p class="mb-0 fw-bold">{{ user }}님 안녕하세요!</p>
              </a>
            {% else %}
              <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
              <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block content %}{% endblock content %}
    </div>
    {% bootstrap_javascript %}
  </body>

</html>