{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  {{ article.user }}
  <h1>detail
  </h1>
  {{ article.title }}
  |
  {{ article.content }}

  <h2>댓글 :
    {{ comments|length }}개</h2>
  <form action="{% url 'articles:comments_create' article.pk %}" method="post">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <input type="submit" class='btn btn-primary'>
  </form>
  {% for comment in comments %}
    <p>{{ comment.content }}
      <a href="{% url 'articles:comments_delete' article.pk comment.pk %}">
        <button>삭제하기</button>
      </a>
    </p>
    {% empty %}
    <p>아직 댓글이 없습니다. 첫 댓글을 작성해보세요!</p>
  {% endfor %}

{% endblock content %}
