{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  {% if request.resolver_match.url_name == 'create' %}
    <h1>리뷰작성하기</h1>
  {% else %}
    <h1>수정하기</h1>
  {% endif %}

  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form article_form %}

    {% if request.resolver_match.url_name == 'create' %}
      {% bootstrap_button content='리뷰작성' button_type='submit' button_class="btn-primary" %}
    {% else %}
      {% bootstrap_button content='수정하기' button_type='submit' button_class="btn-primary" %}
    {% endif %}
  </form>

{% endblock content %}