{% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>글쓰기</h1>

        <form action="" method="POST">
            {% csrf_token %} {% bootstrap_form todo_form_ %} 
            {% bootstrap_button button_type="submit" content="글쓰기" %}
            <input type="submit" value="글쓰기" />
        </form>
    </body>
</html>
