<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <a href="{% url 'todos:index' %}"
            ><input type="submit" value="돌아가기"
        /></a>
        <p>{{ todo_title }}</p>
        <p>{{ todo_content }}</p>
        <a href="{% url 'todos:update' todo.pk %}"
            ><input type="submit" value="수정"
        /></a>
        <a href="{% url 'todos:delete' todo.pk %}"
            ><input type="submit" value="삭제"
        /></a>
    </body>
</html>
